[Desktop Entry]
Name=XBomber
GenericName=Multi-player strategy game
Comment=Multi-player strategy game
Comment[pl]=Gra strategiczna dla kilku graczy
Icon=xbomber.png
Exec=xbomber
Terminal=false
Type=Application
